.CanvasDraw{
    border: "0.0625rem solid #9c9c9c";
    border-radius: "0.25rem";
}

.CanvasDrawSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.CanvasPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgSection{
    min-width: 400px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.Img{
    border: 0.0625rem solid #9c9c9c;
    border-radius: 0.25rem;
}

.ImgHolder{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
}

.Delete{
    position: absolute;
    right: 2px;
    top: 2px;
}

.CanvasBtnSection{
    display: flex;
    gap: 1rem;
    margin: 0.2rem;
}