.noteCard {
    background-color: cornsilk;
    color: #000;
    width: 281px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cardTitle{
    display: flex;
    justify-content: space-between;
}

.noteModal{
    background-color: cornsilk;
    color: #000;
}

.notePageTitle{
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80vw;
}

.notesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
}   

.cardBody{
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent) !important;
}

.cardText {
    white-space: pre-line;
}